.button {
  border: none;
  padding: 0.3rem;
}

.s {
  font-size: 0.5rem;
}

.m {
  font-size: 1rem;
}

.l {
  font-size: 1.5rem;
}

.fill {
  color: white;
}

.fill.primary {
  background-color: #00d2d3;
}

.transparent {
  background-color: transparent;
}

.transparent.primary {
  color: #00d2d3;
}

.transparent.primary:hover,
.transparent.primary:active {
  color: #01a3a4;
}
