.container {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.pageCenter {
  width: auto;
  height: 30vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 30vh;
}

@media only screen and (min-width: 768px) {
  .pageCenter {
    height: 90vh;
    padding-bottom: 0;
  }
}
