.container {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.pageCenter {
  width: auto;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .pageCenter {
    height: 90vh;
  }
}
